[submodule "emacs.d/org-mode"]
    path = "emacs.d/org-mode"
    url = "git://orgmode.org/org-mode.git"
[submodule "emacs.d/vendor/arduino-mode"]
    path = "emacs.d/vendor/arduino-mode"
    url = "https://github.com/bookest/arduino-mode.git"
[submodule "emacs.d/vendor/autopair"]
    path = "emacs.d/vendor/autopair"
    url = "https://github.com/capitaomorte/autopair"
[submodule "emacs.d/vendor/circe"]
    path = "emacs.d/vendor/circe"
    url = "git://github.com/jorgenschaefer/circe.git"
[submodule "emacs.d/vendor/distinguished-theme"]
    path = "emacs.d/vendor/distinguished-theme"
    url = "https://github.com/Lokaltog/distinguished-theme.git"
[submodule "emacs.d/vendor/evil-paredit"]
    path = "emacs.d/vendor/evil-paredit"
    url = "https://github.com/roman/evil-paredit.git"
[submodule "emacs.d/vendor/git-modes"]
    path = "emacs.d/vendor/git-modes"
    url = "https://github.com/magit/git-modes"
[submodule "emacs.d/vendor/less-css-mode"]
    path = "emacs.d/vendor/less-css-mode"
    url = "https://github.com/purcell/less-css-mode/"
[submodule "emacs.d/vendor/magit"]
    path = "emacs.d/vendor/magit"
    url = "git://github.com/magit/magit.git"
[submodule "emacs.d/vendor/markdown-mode"]
    path = "emacs.d/vendor/markdown-mode"
    url = "git://jblevins.org/git/markdown-mode.git"
[submodule "emacs.d/vendor/multiple-cursors.el"]
	path = emacs.d/vendor/multiple-cursors.el
	url = https://github.com/magnars/multiple-cursors.el
[submodule "emacs.d/vendor/php-mode"]
    path = "emacs.d/vendor/php-mode"
    url = "https://github.com/ejmr/php-mode.git"
[submodule "emacs.d/vendor/slime-company"]
    path = "emacs.d/vendor/slime-company"
    url = "https://github.com/anwyn/slime-company"
[submodule "emacs.d/vendor/async"]
	path = emacs.d/vendor/async
	url = https://github.com/jwiegley/emacs-async.git
[submodule "emacs.d/vendor/helm"]
	path = emacs.d/vendor/helm
	url = https://github.com/emacs-helm/helm.git
[submodule "emacs.d/vendor/powerline"]
	path = emacs.d/vendor/powerline
	url = https://github.com/milkypostman/powerline
