[Unit]
Description=Notification listener
After=network.target

[Service]
ExecStart=/usr/bin/notification-listener start

[Install]
WantedBy=default.target
